* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F1F1F1;
}


/* Header */
header {
    background-color: #1f0737;
    position: sticky;
    top: 0;
    z-index: 101;
}

#header {
    max-width: 60vw;
    margin: auto;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.header_logo img {
    width: 10vw;
    height: 8vh;
}

.header_nav_links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.header_link a {
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.header_link img {
    width: 3vw;
    height: 3vh;
    object-fit: scale-down;
}

/* Footer */
footer {
    background-color: #1f0737;
    color: white;
}

.search_section_container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem;
}

.search_footer_container {
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

.search_footer_col h5 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
}

.search_footer_col p {
    max-width: 300px;
    color: black;
    
}

.search_footer_col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.search_footer_col a {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    transition: 0.3s;
}

.search_footer_col a:hover {
    color: blue;
}

.search_footer_socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.search_footer_socials span a {
    padding: 5px 10px;
    margin: 0;
    font-size: 1.25rem;
    color: white;
    background-color: #1f0737;
    border-radius: 100%;
}

.search_footer_socials span a:hover {
    color: white;
    background-color: #000093;
}

.search_footer_bar {
    padding: 0.5rem;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}

* Footer */
footer {
    background-color: #1f0737;
    color: white;
}

.search_section_container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem;
}

.search_footer_container {
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

.search_footer_col h5 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
}

.search_footer_col p {
    max-width: 300px;
    color: black;
    
}

.search_footer_col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.search_footer_col a {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    transition: 0.3s;
}

.search_footer_col a:hover {
    color: blue;
}

.search_footer_socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.search_footer_socials span a {
    padding: 5px 10px;
    margin: 0;
    font-size: 1.25rem;
    color: white;
    background-color: #1f0737;
    border-radius: 100%;
}

.search_footer_socials span a:hover {
    color: white;
    background-color: #000093;
}

.search_footer_bar {
    padding: 0.5rem;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}

.container_bg {
    width: 80%;
    margin: 0 auto;

}

.container_all {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    height: auto;
    margin-bottom: 5%;

}



#order_list {
    font-family: Arial, sans-serif;
}

#order_search_form {
    margin-bottom: 20px;
}

#orderSearchForm input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#orderSearchForm button {
    padding: 8px 10px;
    font-size: 14px;
    background-color: #f8b600;
    color: rgba(34, 34, 34, 0.9);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#orderSearchForm button:hover {
    background-color:#ddd;
    color:#333
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}



tr:hover {
    background-color: #f5f5f5;
}

#sort_button {
    padding: 8px 10px;
    font-size: 14px;
    background-color: #f8b600;
    color: rgba(34, 34, 34, 0.9);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#sort_button:hover {
    background-color: #ddd;
}


.order_number{
    white-space: nowrap;
}

select {
    appearance: none; /* 去掉瀏覽器預設的樣式 */
    border: 1px solid #ced4da; /* 改變邊框 */
    padding: 0.5rem 1rem; /* 調整內邊距 */
    border-radius: 0.25rem; /* 圓角 */
    font-size: 1rem; 
    width: 13vh; 
    hight:20%;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-chevron-down" viewBox="0 0 24 24"%3E%3Cpath d="M6 9l6 6 6-6"/%3E%3C/svg%3E'); /* 自定義下拉箭頭圖標 */
    background-position: right 0.75rem center; /* 圖標位置 */
    background-repeat: no-repeat; /* 禁止圖標重複 */
}
