@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

#member_Main {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
  justify-content: center;
}
#member_Main #member_Info_custom_Upload_Button {
  cursor: pointer;
}
#member_Main .member_button {
  background-color: #a3d5dc;
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 0.9vw;
  font-weight: bold;
  text-align: center;
  transition: background 0.1s ease-out, transform 0.1s ease-out, box-shadow 0.1s ease-out;
  padding: 1vh 1vw;
  cursor: pointer;
}
#member_Main .member_button:hover,
#member_Main .member_Forum_InsideButton:hover {
  background-color: #a3d5dc;
  background-image: radial-gradient(circle, transparent 1%, #6adceb 1%);
}
#member_Main .member_button:active,
#member_Main .member_Order_InsideButton:active,
#member_Main .member_Forum_InsideButton:active {
  background-color: #a3d5dc;
  transform: scale(0.95);
  box-shadow: 0 0 4px #666;
  transition: transform 0.1s ease-out, background-color 0.2s ease-out;
}
#member_Main .member_button:active::after,
#member_Main .member_Order_InsideButton:active::after,
#member_Main .member_Forum_InsideButton:active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-out;
  pointer-events: none;
}
#member_Main .member_Order_Button,
#member_Main .member_Forum_Button {
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 8vw;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
}
#member_Main .member_Order_InsideButton:hover,
#member_Main .member_Forum_InsideButton:hover {
  background-color: #6adceb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 6.5vw;
  height: 4.5vh;
}
#member_Main .arrow-container {
  position: relative;
  width: 8vw;
  height: 0.2vh;
  background-color: black;
}
#member_Main .arrow-container::after {
  content: "";
  position: absolute;
  right: 0;
  top: -0.45vh;
  width: 0;
  height: 0;
  border-left: 0.5vw solid black;
  border-top: 0.6vh solid transparent;
  border-bottom: 0.6vh solid transparent;
}
#member_Main #member_Order_Operation {
  height: 5.5vh;
  width: 38vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
#member_Main #member_Order_Ticket {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 3vh;
  height: 62vh;
  width: 55vw;
  font-weight: bold;
  font-size: 1vw;
}
#member_Main #member_Order_Ticket #member_Order_TopSchedule {
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  gap: 1vh;
}
#member_Main #member_Order_Ticket #member_Order_TopSchedule #member_Order_TotalSchedule {
  width: 30vw;
  display: flex;
  align-items: center;
  padding-left: 2vw;
}
#member_Main #member_Order_Ticket #member_Order_TopSchedule #member_Order_TotalSchedule .fa-plane {
  margin-right: 0.3vw;
  font-size: 1.5vw;
}
#member_Main #member_Order_Ticket #member_Order_TopSchedule #member_Order_TotalSchedule #member_Order_Form {
  margin-right: 0.5vw;
  display: flex;
  align-items: center;
}
#member_Main #member_Order_Ticket #member_Order_TopSchedule #member_Order_TotalSchedule #member_Order_Number,
#member_Main #member_Order_Ticket #member_Order_TopSchedule #member_Order_TotalSchedule #member_Order_GoCity,
#member_Main #member_Order_Ticket #member_Order_TopSchedule #member_Order_TotalSchedule #member_Order_BackCity {
  margin-right: 0.5vw;
  display: flex;
  align-items: end;
}
#member_Main #member_Order_Ticket #member_Order_TopSchedule #member_Order_State {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3vw;
  width: 8vw;
}
#member_Main #member_Order_Ticket #member_Order_TopSchedule #member_Order_State img {
  width: 1vw;
}
#member_Main #member_Order_Ticket #member_Order_WholeTicket {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  margin-left: 3vw;
  margin-right: 3vw;
  height: 20vh;
  padding: 2vw;
  gap: 1.5vh;
}
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_GoPlane {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_GoPlane #member_Order_Go_side {
  display: flex;
  align-items: center;
}
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_GoPlane #member_Order_Plane_side {
  width: 20vw;
  display: flex;
  justify-content: end;
  align-items: end;
}
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_GoPlane #member_Order_airline {
  display: flex;
  align-items: end;
  justify-content: end;
  height: 3vh;
  font-size: 1vw;
}
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_GoPlane #member_Order_Go,
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_GoPlane #member_Order_GoTime,
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_GoPlane #member_Order_Class {
  display: flex;
  align-items: end;
}
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_GoPlane #member_Order_Plane {
  width: 12vw;
  display: flex;
  justify-content: end;
}
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_BigMiddle {
  display: flex;
  justify-content: center;
  height: 10vh;
  gap: 2vw;
}
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_BigMiddle #member_Order_Plane {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
}
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_BigMiddle #member_Order_Schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40vw;
  gap: 1vw;
}
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_BigMiddle #member_Order_Schedule #member_Order_DepartTime,
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_BigMiddle #member_Order_Schedule #member_Order_LandTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5vw;
  gap: 0.5vw;
}
#member_Main #member_Order_Ticket #member_Order_WholeTicket #member_Order_BigMiddle #member_Order_Schedule #member_Order_WholeTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 15vw;
  height: 14vh;
  gap: 1vh;
}
#member_Main #member_Order_Ticket #member_Order_BottomPrice {
  display: flex;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 2vh;
  justify-content: end;
}
#member_Main #member_Order_Ticket #member_Order_BottomPrice #member_Order_PeoplePrice #member_Order_People,
#member_Main #member_Order_Ticket #member_Order_BottomPrice #member_Order_PeoplePrice #member_Order_TotalPrice {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 7vw;
  margin-top: 0.5vh;
}
#member_Main #member_Collection_WholeTicket {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 18vh;
  width: 40vw;
  gap: 2vh;
  padding: 5vw;
}
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle {
  border: 2px solid yellow;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width: 30vw;
  height: 20vh;
}
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle #member_Collection_Plane {
  border: 2px solid blue;
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
}
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle #member_Collection_Schedule {
  border: 2px solid rgb(244, 39, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle #member_Collection_Schedule #member_Collection_WholeTime {
  border: 2px solid rgb(30, 9, 152);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 15vw;
  height: auto;
}
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle #member_Collection_Schedule #member_Collection_DepartTime,
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle #member_Collection_Schedule #member_Collection_LandTime {
  border: 2px solid rgb(25, 208, 9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5vw;
  gap: 0.5vh;
}
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle #member_Collection_Schedule #member_Collection_DepartTime #member_Collection_DepartSmallTime,
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle #member_Collection_Schedule #member_Collection_DepartTime #member_Collection_DepartCity,
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle #member_Collection_Schedule #member_Collection_DepartTime #member_Collection_LandSmallTime,
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle #member_Collection_Schedule #member_Collection_DepartTime #member_Collection_LandCity,
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle #member_Collection_Schedule #member_Collection_LandTime #member_Collection_DepartSmallTime,
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle #member_Collection_Schedule #member_Collection_LandTime #member_Collection_DepartCity,
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle #member_Collection_Schedule #member_Collection_LandTime #member_Collection_LandSmallTime,
#member_Main #member_Collection_WholeTicket #member_Collection_BigMiddle #member_Collection_Schedule #member_Collection_LandTime #member_Collection_LandCity {
  border: 1px solid red;
  font-size: 1.2vw;
}
#member_Main #member_Collection_BottomPrice {
  border: 2px solid rgb(12, 15, 155);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#member_Main #member_Collection_BottomPrice #member_Collection_NowPrice {
  border: 2px solid rgb(15, 184, 167);
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 10vw;
  height: 3.5vh;
}
#member_Main #member_Forum_Operation {
  height: 5.5vh;
  width: 38vw;
  display: flex;
  justify-content: center;
  gap: 2vw;
}
#member_Main #member_Forum_MiddleSide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width: 55vw;
}
#member_Main #member_Forum_MiddleSide a {
  text-decoration: none;
  color: black;
}
#member_Main #member_Forum_MiddleSide a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}
#member_Main #member_Forum_MiddleSide .member_forum_card {
  margin: 5vh 0.8vw;
  background-color: #FFFCFC;
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 45vh;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(80, 80, 80, 0.4);
}
#member_Main #member_Forum_MiddleSide .member_forum_card article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#member_Main #member_Forum_MiddleSide .member_forum_card article .member_forum_articleImg {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
#member_Main #member_Forum_MiddleSide .member_forum_card article h3 {
  align-items: start;
  font-size: 1.3vw;
  font-weight: bold;
  margin: 2vh 1vw 2vh 1vw;
}
#member_Main #member_Forum_MiddleSide .member_forum_card article .member_forum_articleMore {
  font-size: 0.8vw;
  line-height: 3vh;
  margin: 0 1vw 0 1vw;
  max-width: 12vw;
  max-height: 10vh;
  white-space: normal;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
#member_Main #member_Forum_MiddleSide .member_forum_card article .member_forum_articleMore::after {
  content: "前往文章";
}
#member_Main #member_Forum_MiddleSide .member_forum_card div {
  display: flex;
  height: 8vh;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}
#member_Main #member_Forum_MiddleSide .member_forum_card div .member_forum_authorImg {
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
  width: 3vw;
}
#member_Main #member_Forum_MiddleSide .member_forum_card div .member_forum_author,
#member_Main #member_Forum_MiddleSide .member_forum_card div .member_forum_postDate {
  display: inline-block;
  color: #1f1f1f;
  margin: 0;
  font-size: 0.9vw;
}
#member_Main #member_Forum_MiddleSide .member_forum_card div .member_forum_postDate {
  display: inline-block;
  color: #777777;
  font-size: 0.8vw;
}

.member_login_container,
.member_register_container {
  display: flex;
  max-width: 60vw;
  width: 100%;
  height: 90vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}
.member_login_container .member_login_left-side,
.member_login_container .member_register_left-side,
.member_register_container .member_login_left-side,
.member_register_container .member_register_left-side {
  background-color: #ffffff;
  padding: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.member_login_container .member_login_right-side,
.member_login_container .member_register_right-side,
.member_register_container .member_login_right-side,
.member_register_container .member_register_right-side {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member_login_container .member_login_logo-container,
.member_login_container .member_register_logo-container,
.member_register_container .member_login_logo-container,
.member_register_container .member_register_logo-container {
  text-align: center;
}
.member_login_container .member_login_logo,
.member_login_container .member_register_logo,
.member_register_container .member_login_logo,
.member_register_container .member_register_logo {
  width: 8vw;
  margin-bottom: 3vh;
}
.member_login_container h1,
.member_register_container h1 {
  font-weight: 700;
  font-size: 2vw;
  margin-bottom: 1vh;
  color: #000000;
}
.member_login_container p,
.member_register_container p {
  font-size: 16px;
  margin-bottom: 2vh;
  color: #555;
}
.member_login_container .member_login_or-text,
.member_login_container .member_register_or-text,
.member_register_container .member_login_or-text,
.member_register_container .member_register_or-text {
  text-align: center;
  margin: 2vh;
  position: relative;
  color: #aaa;
}
.member_login_container .member_login_or-text::before,
.member_login_container .member_login_or-text::after,
.member_login_container .member_register_or-text::before,
.member_login_container .member_register_or-text::after,
.member_register_container .member_login_or-text::before,
.member_register_container .member_login_or-text::after,
.member_register_container .member_register_or-text::before,
.member_register_container .member_register_or-text::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 0.1vh;
  background-color: #ccc;
}
.member_login_container .member_login_or-text::before,
.member_login_container .member_login_or-text::before,
.member_login_container .member_register_or-text::before,
.member_login_container .member_register_or-text::before,
.member_register_container .member_login_or-text::before,
.member_register_container .member_login_or-text::before,
.member_register_container .member_register_or-text::before,
.member_register_container .member_register_or-text::before {
  left: 0;
}
.member_login_container .member_login_or-text::after,
.member_login_container .member_login_or-text::after,
.member_login_container .member_register_or-text::after,
.member_login_container .member_register_or-text::after,
.member_register_container .member_login_or-text::after,
.member_register_container .member_login_or-text::after,
.member_register_container .member_register_or-text::after,
.member_register_container .member_register_or-text::after {
  right: 0;
}
.member_login_container form,
.member_register_container form {
  display: flex;
  flex-direction: column;
}
.member_login_container .member_login_eyes,
.member_login_container .member_register_eyes,
.member_register_container .member_login_eyes,
.member_register_container .member_register_eyes {
  position: relative;
  margin-bottom: 3.5vh;
  display: flex;
  align-items: center;
}
.member_login_container #member_check_group,
.member_register_container #member_check_group {
  position: absolute;
  right: 0.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member_login_container #member_check_group #checkEmail,
.member_register_container #member_check_group #checkEmail {
  height: 3vh;
  display: flex;
  align-items: start;
  font-size: 0.9vw;
}
.member_login_container #member_check_group #emailStatusIcon,
.member_register_container #member_check_group #emailStatusIcon {
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
}
.member_login_container .fa-eye-slash,
.member_login_container .fa-eye,
.member_register_container .fa-eye-slash,
.member_register_container .fa-eye {
  position: absolute;
  right: 0.5vw;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
  font-size: 0.8vw;
  width: 1vw;
  height: 2vh;
}
.member_login_container .member_login_input-field,
.member_login_container .member_register_input-field,
.member_register_container .member_login_input-field,
.member_register_container .member_register_input-field {
  width: 25vw;
  height: 5vh;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 0.8vw;
  padding-left: 0.5vw;
}
.member_login_container #member_passwordMatchIcon,
.member_register_container #member_passwordMatchIcon {
  position: absolute;
  right: 2vw;
  width: 1vw;
  font-size: 0.9vw;
}
.member_login_container .member_login_remember-me,
.member_login_container .member_register_remember-me,
.member_register_container .member_login_remember-me,
.member_register_container .member_register_remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.member_login_container .member_login_remember-me input,
.member_login_container .member_register_remember-me input,
.member_register_container .member_login_remember-me input,
.member_register_container .member_register_remember-me input {
  margin-right: 10px;
}
.member_login_container #member_login_login-btn,
.member_login_container #member_register_register-btn,
.member_register_container #member_login_login-btn,
.member_register_container #member_register_register-btn {
  width: 100%;
  padding: 15px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.member_login_container #member_login_login-btn,
.member_login_container #member_register_register-btn:hover,
.member_register_container #member_login_login-btn,
.member_register_container #member_register_register-btn:hover {
  transform: scale(1);
  background-color: #333333;
}
.member_login_container #member_login_login-btn,
.member_login_container #member_register_register-btn:active,
.member_register_container #member_login_login-btn,
.member_register_container #member_register_register-btn:active {
  transform: scale(0.95);
  background-color: #333333;
}
.member_login_container #member_login_login-link,
.member_login_container #member_register_login-link,
.member_register_container #member_login_login-link,
.member_register_container #member_register_login-link {
  text-align: center;
  margin-top: 10px;
}
.member_login_container #member_login_login-link a,
.member_login_container #member_register_login-link a,
.member_register_container #member_login_login-link a,
.member_register_container #member_register_login-link a {
  color: #000000;
  text-decoration: none;
}
.member_login_container #member_login_login-link a:hover,
.member_login_container #member_register_login-link a:hover,
.member_register_container #member_login_login-link a:hover,
.member_register_container #member_register_login-link a:hover {
  color: #e7951a;
}
.member_login_container .member_image-container,
.member_register_container .member_image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* 隱藏超出的部分 */
}
.member_login_container .member_register_design-image,
.member_register_container .member_register_design-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  /* 初始位置在右側，等待滑入 */
  opacity: 0;
  /* 初始狀態為透明 */
  transition: left 1s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.7s ease;
  /* 調整過渡效果 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.member_login_container .member_register_design-image.active,
.member_register_container .member_register_design-image.active {
  left: 0;
  /* 新圖片從右側滑入到中央 */
  opacity: 1;
  /* 淡入圖片 */
}
.member_login_container .member_register_design-image.prev,
.member_register_container .member_register_design-image.prev {
  left: -100%;
  /* 當前圖片滑出到左側 */
  opacity: 0;
  /* 淡出圖片 */
  transition: left 1s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.7s ease;
  /* 調整過渡時間 */
}
.member_login_container .member_register_design-image.initial,
.member_register_container .member_register_design-image.initial {
  left: 0;
  /* 頁面加載時，初始圖片應該直接顯示 */
  opacity: 1;
  /* 初始圖片完全可見 */
  transition: none;
  /* 初始圖片不需要過渡 */
}

.member_Info_container {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 50%;
  max-width: 700px;
}
.member_Info_container #member_Info_User {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.member_Info_container #member_Info_User .member_Info_Avatar {
  width: 8vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member_Info_container #member_Info_User .member_Info_Avatar #member_info_icon {
  width: 6vw;
  height: 12vh;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.member_Info_container #member_Info_User #member_Info_Upload_group {
  height: 15vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
}
.member_Info_container #member_Info_User #member_Info_Upload_group #member_customUploadButton {
  background-color: #dbd7d7;
  width: 4vw;
  height: 3vh;
  padding: 0.8vh 0.8vw;
  border: none;
  border-radius: 4px;
  font-size: 0.6vw;
  cursor: pointer;
}
.member_Info_container #member_Info_User #member_Info_Upload_group #member_customUploadButton:hover {
  background-color: #e1e1e1;
}
.member_Info_container #member_Info_User #member_Info_Upload_group div {
  font-size: 0.8vw;
}
.member_Info_container #member_Info_User #member_Info_upload_button {
  background-color: #333;
  color: #fff;
  padding: 0.8vh 0.8vw;
  border: none;
  border-radius: 4px;
  font-size: 0.8vw;
  cursor: pointer;
}
.member_Info_container #member_Info_User #member_Info_upload_button:hover {
  background-color: #555;
}
.member_Info_container #member_Info_User .member_Info_Remind {
  /* border: 2px solid rgb(0, 225, 255); */
  border-top: -5vh;
  font-size: 0.8vw;
  color: #555;
}
.member_Info_container h2 {
  font-size: 2vw;
  margin-bottom: 1.5vh;
  color: #333;
}
.member_Info_container p {
  padding-left: 0.3vw;
  margin-bottom: 1vw;
  color: #666;
}
.member_Info_container .member_Info_form {
  border-top: 2vh;
  display: flex;
  flex-direction: column;
}
.member_Info_container .member_Info_form .member_Info_form-group {
  margin-bottom: 2vh;
}
.member_Info_container .member_Info_form label {
  display: block;
  font-size: 0.8vw;
  font-weight: bold;
  color: #000;
}
.member_Info_container .member_Info_form .input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
}
.member_Info_container .member_Info_form input[type=text],
.member_Info_container .member_Info_form input[type=email],
.member_Info_container .member_Info_form input[type=password],
.member_Info_container .member_Info_form input[type=date] {
  width: 100%;
  padding: 1vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.8vw;
  margin-top: 0.6vh;
}
.member_Info_container .member_Info_form input {
  background-color: #e9ecef;
}
.member_Info_container .member_Info_form #member_info_passwordMatchIcon {
  position: absolute;
  right: 2vw;
  top: 33%;
  font-size: 0.9vw;
}
.member_Info_container .member_Info_form .input-with-icon {
  position: relative;
  display: inline-block;
  width: 100%;
}
.member_Info_container .member_Info_form .input-with-icon input {
  width: 100%;
  padding-right: 2vw;
}
.member_Info_container .member_Info_form .gear-icon {
  position: absolute;
  right: 0.5vw;
  top: 56%;
  transform: translateY(-50%);
  color: #333;
  font-size: 1vw;
  cursor: pointer;
}
.member_Info_container .member_Info_form .gear-icon:hover {
  color: #0004ff;
}
.member_Info_container .member_Info_form #member_info_group-btn {
  display: flex;
  justify-content: center;
  gap: 3vw;
}
.member_Info_container .member_Info_form #member_info_group-btn .member_Info_submit-btn {
  background-color: #333;
  color: #fff;
  padding: 1vh 1vw;
  border: none;
  border-radius: 4px;
  font-size: 1vw;
  cursor: pointer;
}
.member_Info_container .member_Info_form #member_info_group-btn .member_Info_submit-btn:hover {
  background-color: #555;
}
.member_Info_container .member_Info_form #member_deleteAccountModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.member_Info_container .member_Info_form #member_deleteAccountModal #member_info_modal-content {
  background-color: rgb(255, 255, 255);
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #888;
  width: 16vw;
  height: 28vh;
  text-align: center;
}
.member_Info_container .member_Info_form #member_deleteAccountModal #member_info_close {
  color: #aaa;
  position: relative;
  left: 6.5vw;
  font-size: 28px;
  font-weight: bold;
}
.member_Info_container .member_Info_form #member_deleteAccountModal #member_info_close:hover,
.member_Info_container .member_Info_form #member_deleteAccountModal #member_info_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.member_Info_container .member_Info_form #member_deleteAccountModal #member_delete_group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
.member_Info_container .member_Info_form #member_deleteAccountModal #member_delete_group #member_confirmDeleteBtn,
.member_Info_container .member_Info_form #member_deleteAccountModal #member_delete_group #member_cancelDeleteBtn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  width: 3.5vw;
  height: 3.5vh;
  cursor: pointer;
}
.member_Info_container .member_Info_form #member_deleteAccountModal #member_delete_group #member_confirmDeleteBtn:hover,
.member_Info_container .member_Info_form #member_deleteAccountModal #member_delete_group #member_cancelDeleteBtn:hover {
  background-color: #555;
}/*# sourceMappingURL=member.css.map */