//灰櫻-#d7c4b8
//白花-#e8ecef
//白灰-#f1f1f1
//棕-#79470d
//白棕-#e9e4d4

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

header {
  height: 13vh;
  /* 140px */
  background-color: #f4cfe0;
}
header > div {
  height: 50%;
  width: 73.5%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}
header > div img[src*="logo"] {
  position: absolute;
  bottom: 0;
}
header > div > p {
  display: inline-block;
  font-size: 3vh;
  width: 85%;
  margin: 0;
}
header > div img[src*="icon"] {
  height: 5vh;
  margin: auto 10px;
  float: right;
  /* 48px */
}

footer {
  height: 20.8vh;
  /* 225px */
  background-color: #f4cfe0;
}

footer > div {
  width: 73.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer > div > section {
  display: inline-block;
  width: 17vw;
}
footer > div > section > h3 {
  font-size: 3vh;
  margin: 1vh;
  text-align: center;
}
.footer_line {
  border: 0.2vh solid black;
  margin: 0 auto;
  width: 60%;
}
.footer_list > a {
  font-size: 2.2vh;
  font-weight: bold;
  margin: 1vh 1vh 0;
  position: relative;
  left: 20%;
  color: black;
  text-decoration: none;
  display: inline-block;
}

#member_Main {
  // border: 2px solid rgb(221, 24, 198);
  background-color: #e8ecef;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  #member_LeftSide {
    // border: 2px solid rgb(240, 229, 31);
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    height: 100%;
    align-items: end;
    margin-top: 2vh;

    #member_Left_TopSide {
      // border: 2px solid rgb(232, 16, 16);
      display: flex;
      flex-direction: column;
      height: 7vh;
      width: 10vw;
      padding-left: 1vw;
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 2vh;

      div {
        border-bottom: 1px solid rgb(0, 0, 0);
        display: flex;
        align-items: center;
        height: 5vh;
        width: 8vw;
        font-size: 1.7rem;
        font-weight: bold;
      }
    }

    #member_Left_BottomSide {
      // border: 2px solid rgb(26, 22, 232);
      display: flex;
      flex-direction: column;
      padding-left: 1vw;
      height: 65vh;
      width: 10vw;
      gap: 5vh;
      font-size: 0.9rem;
      cursor: pointer;
    }

    #member_LeftMember,
    #member_LeftInfo,
    #member_LeftPassword,
    #member_LeftOrder,
    #member_LeftCard,
    #member_LeftCollection {
      border-bottom: 1px solid rgb(0, 0, 0);
      display: flex;
      align-items: center;
      height: 5vh;
      width: 8vw;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  #member_Home_MiddleSide,
  #member_Info_MiddleSide,
  #member_Password_MiddleSide {
    // border: 2px solid rgb(37, 203, 53);
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    height: 100%;

    #member_Home_MiddleTopSide {
      // border: 1px solid rgb(0, 0, 0);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: #e9e4d4;
      border-radius: 20px;
      display: flex;
      align-items: center;
      height: 18vh;
      width: 40vw;

      #member_Home_LeftSide {
        // border: 2px solid rgb(40, 205, 220);
        border-right: 1px solid rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        height: 14vh;

        #member_Home_Name {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 2vh;
        }
      }

      #member_Home_RightSide {
        // border: 2px solid rgb(21, 44, 219);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3vh;
        flex-basis: 50%;
        height: 14vh;

        div {
          margin-left: 4vw;
        }
      }
    }

    #member_Home_MiddleBottomSide {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      background-color: #e9e4d4;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 40vw;
      gap: 3vh;

      div {
        // border: 1px solid rgb(22, 149, 17);
        display: flex;
        justify-content: center;
        margin-top: 3vh;
        font-size: 1.2rem;
        font-weight: bold;
      }

      span {
        // border: 1px solid rgb(31, 150, 41);
        display: flex;
        justify-content: center;
      }
    }

    #member_Info_MiddleInside {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: #e9e4d4;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3vh;
      height: 55vh;
      width: 40vw;

      .member_Info_Group {
        // border: 2px solid orange;
        margin-top: 2vh;
        margin-bottom: 2vh;
        display: flex;
        flex-direction: column;

        label {
          display: block;
          font-size: 1rem;
          color: #555;
          margin-bottom: 0.5vh;
        }

        input {
          border: 1px solid #ccc;
          width: 20vw;
          height: 2vh;
          padding: 0.5vh;
          border-radius: 4px;
        }
      }

      #member_Info_ChangeButton {
        // border: 2px solid rgb(20, 207, 216);
        color: #ffffff;
        background-color: #79470d;
        height: 3.5vh;
        width: 3.5vw;
        cursor: pointer;
      }
    }

    #member_Password_MiddleInside {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: #e9e4d4;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5vh;
      height: 55vh;
      width: 40vw;

      .member_Password_Group {
        // border: 2px solid orange;
        margin-top: 2vh;
        margin-bottom: 2vh;
        display: flex;
        flex-direction: column;

        label {
          display: block;
          font-size: 1rem;
          color: #555;
          margin-bottom: 0.5vh;
        }

        input {
          border: 1px solid #ccc;
          width: 20vw;
          height: 2vh;
          padding: 0.5vh;
          border-radius: 4px;
        }
      }

      #member_Password_Remind {
        // border: 2px solid rgb(11, 50, 192);
        width: 36vw;
        margin-top: -6vh;
        font-size: 0.8rem;
        padding-left: 16vw;
        color: #555;
      }

      #member_Password_ChangeButton {
        // border: 2px solid rgb(20, 207, 216);
        color: #ffffff;
        background-color: #79470d;
        height: 3.5vh;
        width: 3.5vw;
        cursor: pointer;
      }
    }
  }

  #member_Order_MiddleSide {
    // border: 2px solid rgb(37, 203, 53);
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    margin-top: 2vh;

    #member_Order_Operation {
      // border: 1px solid rgb(144, 4, 4);
      height: 5vh;
      width: 45vw;
      display: flex;
      justify-content: center;
      gap: 2vw;

      #member_Order_All,
      #member_Order_Pay,
      #member_Order_Depart,
      #member_Order_Finish,
      #member_Order_Cancel {
        border-bottom: 1px solid rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        width: 12vw;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
      }
    }

    #member_Order_Ticket {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: #e9e4d4;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 3vh;
      height: 55vh;
      width: 40vw;

      #member_Order_TopSchedule {
        // border: 2px solid rgb(12, 15, 155);
        display: flex;
        margin-top: 2vh;
        justify-content: space-between;
        gap: 1vh;

        #member_Order_TotalSchedule {
          // border: 2px solid rgb(208, 9, 9);
          width: 30vw;

          #member_Order_Order {
            // border: 2px solid rgb(25, 208, 9);
            display: flex;
            align-items: center;
            margin-left: 1vw;
            font-size: 1rem;
            width: 28vw;

            img {
              width: 2vh;
              margin-right: 0.3vw;
            }
            #member_Order_Form,
            #member_Order_Number,
            #member_Order_GoCity,
            #member_Order_BackTime {
              margin-right: 0.5vw;
            }
          }

          #member_Order_Schedule {
            // border: 2px solid rgb(25, 208, 9);
            display: flex;
            margin-top: 1vh;
            align-items: center;
            font-size: 1rem;
            margin-left: 2.3vw;
            width: 27vw;

            #member_Order_BackTime {
              margin-right: 0.5vw;
            }
          }
        }

        #member_Order_State {
          // border: 2px solid rgb(208, 9, 9);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 3vw;
          width: 6vw;

          img {
            width: 1vw;
          }
        }
      }

      #member_Order_WholeTicket {
        border: 1px solid rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        margin-left: 3vw;
        margin-right: 3vw;
        height: 18vh;

        #member_Order_GoPlane {
          // border: 2px solid rgb(245, 106, 19);
          display: flex;
          align-items: center;
          margin-left: 1vw;
          font-size: 1rem;
        }

        #member_Order_MiddleSchedule {
          // border: 2px solid rgb(245, 106, 19);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 10vh;
          gap: 2vw;

          #member_Order_DepartTime,
          #member_Order_LandTime {
            // border: 2px solid rgb(25, 208, 9);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 5vw;
            gap: 1vh;
          }

          #member_Order_WholeTime {
            // border: 2px solid rgb(25, 208, 9);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
              width: 1vw;
            }
          }
        }
      }

      #member_Order_BottomPrice {
        // border: 2px solid rgb(12, 15, 155);
        display: flex;
        margin-left: 3vw;
        margin-right: 3vw;
        margin-bottom: 2vh;
        justify-content: space-between;

        #member_Order_Banngo {
          // border: 2px solid rgb(232, 22, 22);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 10vw;
          div {
            margin-right: 0.3vw;
          }
        }

        #member_Order_PeoplePrice {
          #member_Order_People,
          #member_Order_TotalPrice {
            // border: 2px solid rgb(25, 208, 9);
            display: flex;
            justify-content: space-between;
            width: 7vw;
            margin-top: 0.5vh;
          }
        }
      }
    }
  }

  #member_Card_MiddleSide {
    // border: 2px solid rgb(37, 203, 53);
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;

    #member_Card_MiddleInside {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: #e9e4d4;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 55vh;
      width: 40vw;

      #member_Card_MiddleInside2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        .member_Card_inputTitle {
          // border: 2px solid rgb(19, 207, 63);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40vw;

          .fa-star-of-life {
            color: red;
            font-size: 0.5rem;
            margin-right: 0.2vw;
          }

          #member_Card_Name,
          #member_Card_CardName {
            flex-basis: 20%;
            color: #555;
          }

          #member_Card_NameInput {
            height: 3vh;
            width: 20vw;
            border: 1px solid #ccc;
            border-radius: 4px;
          }

          .member_Card_Number {
            height: 3vh;
            width: 4.55vw;
            border: 1px solid #ccc;
            border-radius: 4px;
          }

          .fa-minus {
            color: rgb(0, 0, 0);
            font-size: 0.5rem;
          }

          #member_Card_DateName,
          #member_Card_ThreeName {
            flex-basis: 20%;
            color: #555;
          }

          .member_Card_inputText {
            // border: 2px solid rgb(10, 45, 169);
            display: flex;
            align-items: center;
            width: 20vw;

            #member_Card_Date {
              height: 3vh;
              width: 3vw;
              margin-right: 0.1vw;
              border: 1px solid #ccc;
              border-radius: 4px;
            }

            #member_Card_Month {
              height: 3vh;
              width: 3vw;
              margin-right: 0.1vw;
              margin-left: 0.8vw;
              border: 1px solid #ccc;
              border-radius: 4px;
            }

            #member_Card_Three {
              height: 3vh;
              width: 4vw;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
          }
        }
      }

      #member_Card_CreditButton {
        color: #ffffff;
        background-color: #79470d;
        height: 4vh;
        width: 5vw;
        margin-top: 2vh;
        cursor: pointer;
      }

      #member_Card_ConfirmButton {
        color: #ffffff;
        background-color: #79470d;
        margin-top: 3vh;
        height: 4vh;
        width: 5vw;
        cursor: pointer;
      }

      #member_Card_PlusButton {
        color: #ffffff;
        background-color: #79470d;
        height: 4vh;
        width: 5vw;
        cursor: pointer;
      }

      #member_Card_MiddleCard {
        // border: 2px solid red;
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-chevron-left {
          margin-right: 2vw;
          font-size: 1.5vw;
          cursor: pointer;
        }

        .fa-chevron-right {
          margin-left: 2vw;
          font-size: 1.5vw;
          cursor: pointer;
        }

        img {
          width: 23vw;
        }
      }

      #member_Card_CodeCard {
        // border: 2px solid rgb(212, 14, 159);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3vh;
        width: 20vw;
        font-size: 1.5rem;
      }
    }
  }

  #member_Collection_MiddleSide {
    // border: 2px solid rgb(37, 203, 53);
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    margin-top: 2vh;

    #member_Collection_Operation {
      border-top: 1px solid rgb(0, 0, 0);
      border-bottom: 1px solid rgb(0, 0, 0);
      border-left: 1px solid rgb(0, 0, 0);
      height: 5vh;
      width: 45vw;
      display: flex;
      margin-top: 5vh;

      .member_Collection_Operate {
        border-right: 1px solid rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        width: 12vw;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    #member_Collection_Ticket {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      background-color: #e9e4d4;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      gap: 3vh;
      height: 55vh;
      width: 40vw;

      #member_Collection_TopSchedule {
        // border: 2px solid rgb(12, 15, 155);
        margin-top: 2vh;
        display: flex;
        justify-content: space-between;
        gap: 1vh;

        #member_Collection_TotalSchedule {
          // border: 2px solid rgb(208, 9, 9);
          width: 30vw;

          #member_Collection_Order {
            // border: 2px solid rgb(25, 208, 9);
            display: flex;
            align-items: center;
            margin-left: 1vw;
            font-size: 1rem;
            width: 28vw;

            img {
              width: 2vh;
              margin-right: 0.3vw;
            }
            #member_Collection_Form,
            #member_Collection_Number,
            #member_Collection_GoCity,
            #member_Collection_BackTime {
              margin-right: 0.5vw;
            }
          }

          #member_Collection_Schedule {
            // border: 2px solid rgb(25, 208, 9);
            display: flex;
            margin-top: 1vh;
            align-items: center;
            font-size: 1rem;
            margin-left: 2.3vw;
            width: 27vw;

            #member_Collection_BackTime {
              margin-right: 0.5vw;
            }
          }
        }

        .heart-icon {
          font-size: 2rem;
          -webkit-text-stroke: 1px black; //描邊效果
          color: white;
          transition: color 0.1s;
          margin-right: 1vw;
          cursor: pointer;
        }

        .heart-icon.liked {
          -webkit-text-stroke: 1px #e9e4d4;
          color: red;
        }
      }

      #member_Collection_WholeTicket {
        border: 1px solid rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        margin-left: 3vw;
        margin-right: 3vw;
        height: 18vh;

        #member_Collection_GoPlane {
          // border: 2px solid rgb(245, 106, 19);
          display: flex;
          align-items: center;
          margin-left: 1vw;
          font-size: 1rem;
        }

        #member_Collection_MiddleSchedule {
          // border: 2px solid rgb(245, 106, 19);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 10vh;
          gap: 2vw;

          #member_Collection_DepartTime,
          #member_Collection_LandTime {
            // border: 2px solid rgb(25, 208, 9);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 5vw;
            gap: 1vh;
          }

          #member_Collection_WholeTime {
            // border: 2px solid rgb(25, 208, 9);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
              width: 1vw;
            }
          }
        }
      }

      #member_Collection_BottomPrice {
        // border: 2px solid rgb(12, 15, 155);
        display: flex;
        margin-left: 3vw;
        margin-right: 3vw;
        margin-bottom: 2vh;
        justify-content: space-between;

        #member_Collection_Banngo {
          // border: 2px solid rgb(232, 22, 22);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 5vw;
          div {
            margin-right: 0.3vw;
          }
        }

        #member_Collection_PeoplePrice {
          #member_Collection_People,
          #member_Collection_TotalPrice {
            // border: 2px solid rgb(25, 208, 9);
            display: flex;
            justify-content: space-between;
            width: 7vw;
            margin-top: 0.5vh;
          }
        }
      }
    }
  }
}

#member_Sign_BigContainer {
  // border: 2px solid green;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding-bottom: 2vh;
  padding-top: 2vh;

  #member_Sign_Container {
    // border: 2px solid blue;
    background-color: #e9e4d4;
    padding: 5vh;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 18vw;

    h2 {
      text-align: center;
    }

    .member_Sign_Group {
      // border: 2px solid orange;
      margin-top: 2vh;
      margin-bottom: 2vh;
    }

    label {
      display: block;
      margin-bottom: 0.5vh;
      color: #555;
    }

    input {
      width: 100%;
      height: 3vh;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    #member_Sign_Btn {
      width: 100%;
      height: 4vh;
      background-color: #79470d;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    #member_Sign_Btn:hover {
      background-color: #634727;
    }

    #member_Sign_Or {
      text-align: center;
      margin: 2vh;
      position: relative;
      color: #aaa;
    }

    #member_Sign_Or::before,
    #member_Sign_Or::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 40%;
      height: 0.1vh;
      background-color: #ccc;
    }

    #member_Sign_Or::before {
      left: 0;
    }

    #member_Sign_Or::after {
      right: 0;
    }
  }
}
