* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 2px solid rgb(29, 223, 11);
  background-color: #f9f9ff !important;
  margin: 0;
  padding: 0;
}

.Backstage_main {
  border: 2px solid red;
  display: flex;
  margin: 0;
  padding: 0;
}

#Backstage_LeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8vh;
  flex-basis: 15%;
}

#Backstage_LeftMember,
#Backstage_LeftOrder,
#Backstage_LeftFlight,
#Backstage_LeftForum {
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 6vw;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
}

.Backstage_MiddleSide {
  border: 2px solid rgb(47, 0, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10vw;
  min-height: 65vh;
  background-color: #f9f9ff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-basis: 80%;
  margin: 0;
  gap: 2vh;
}

.Backstage_Title {
  text-align: center;
  color: #333;
}

.container_all {
  /* border: 2px solid rgb(40, 224, 34); */
  min-height: 50vh;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

#Member_search-filter {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#Member_LeftSearch {
  display: flex;
  gap: 1vw;
}

#Member_searchBar {
  border: 1px solid #ddd;
  font-size: 1vw;
  font-size: 1vw;
  height: 3.5vh;
  width: 10vw;
  cursor: auto;
  border-radius: 4px;
  background-color: #fff;
}

#Member_pagination {
  background-color: #fff;
  display: flex;
  gap: 1vw;
  border-radius: 4px;
}

#Member_prevPage,
#Member_nextPage {
  font-size: 1vw;
}

#Member_prevPage:hover,
#Member_nextPage:hover {
  text-decoration: underline;
  cursor: pointer;
}

#Member_pageSelector {
  border: none;
  font-size: 1vw;
  width: 5vw;
  height: 3vh;
  cursor: pointer;
}

#Member_Table {
  border: 1px solid #ccc;
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  text-align: center;
  padding: 1vh;
  font-weight: bold;
}

td {
  border: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
  padding: 1vh;
  width: 2vw;
}

.Member_Checklook {
  background-color: #f8b600;
  border: none;
  color: white;
  height: 3.5vh;
  width: 3.5vw;
  font-size: 0.8vw;
  cursor: pointer;
}

.Member_Checklook:hover {
  background-color: #000000;
}

#Member_Notify_ButtonSide {
  /* border: 2px solid rgb(23, 175, 63); */
  display: flex;
  justify-content: end;
  margin-top: 2vh;
  padding-right: 3vw;
}

#Member_notification {
  /* border: 2px solid rgb(9, 9, 213); */
  display: none;
  justify-content: end;
}

#Member_Notify {
  position: relative;
  right: 0.55vw;
  background-color: #f8b600;
  border: none;
  color: white;
  height: 5vh;
  width: 5vw;
  font-size: 0.8vw;
  cursor: pointer;
}

#Member_Notify:hover {
  background-color: #000000;
}

#Member_Window {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#Member_Window_Content {
  /* border: 2px solid rgb(9, 9, 213); */
  background-color: #ffffff;
  margin: 15% auto;
  padding: 2vw;
  border: 1px solid #888;
  width: 25vw;
}

h2 {
  text-align: center;
  color: #333;
  margin-top: -3vh;
  margin-bottom: 3vh;
  font-size: 1.5vw;
}

.detail {
  /* border: 2px solid rgb(43, 255, 0); */
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.detail label {
  font-weight: bold;
  color: #333;
  flex-basis: 40%;
}

.detail span {
  color: #555;
  flex-basis: 55%;
  text-align: right;
}

#Member_CloseModal {
  /* border: 2px solid rgb(43, 255, 0); */
  margin-top: -3vh;
  margin-right: -1vw;
  color: #000000;
  float: right;
  font-size: 2vw;
  font-weight: bold;
}

#Member_CloseModal:hover,
#Member_CloseModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}