body {
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F1F1F1;
}

.process-container{
	background-color:#fff;
	width:80%;
	margin-left:9.5%;
	border-radius: 10px;
}

.process_bg {
    display: block;
    background-color: rgb(173, 171, 171);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.process_info_bg {
    display: block;
    background-color:#1f0737;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}


.container_bg {
    width: 60%;
    margin: 0 auto;
}

.container_all {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: inline-block;
    /* margin-right: 30px; */
}

.process-steps {
    list-style: none;
    gap:10px;
}

.process-steps li {
    display: inline-block;
}

.box {
    background-color: white;
    margin: 10px;
    height: 80%;
    padding: 20px;
    border: 5px solid #1f0737;
    border-radius: 10px;
    color:#222;
    font-weight: bold;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.container_order_title {
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto;
    background-color: #f8b600;
	color:rgba(34, 34, 34, 0.9);
}


.container_order_detail {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(34, 34, 34, 0.9);
}

.box_amount {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    border: 2px solid #1f0737;
    border-radius: 10px;
}

.box_orderInfo {
    background-color:white;
    margin: 10px;
    height: 80%;
    padding:30px 8% 30px 10%;
    border: 5px solid #1f0737;
    border-radius: 10px;
    display: grid;
    align-content: center;
	color:#222;
	font-size: 20px;
	font-weight: 500;
}

.box_orderInfo div > div {
    margin: 5px 0;
}

.orderInfo_orderNumber{
	padding-left:11.5%;	
}

.style_nextstep {
    width: 50%;
    height: 40px;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    background-color: #f8b600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.style_nextstep:hover {
	background-color: #222;
	color:#fff;
}