* {
    box-sizing: border-box;
}

.contact_body {
    margin: 0;
}

.contact_main {
    background-color: #f9f9ff;
}

.contact_mark {
    color: #BC002D;
}

.contact_main > div:first-child {
    width: 80%;
    margin: auto;
    padding: 75px 0;
}

@media(min-width: 768px) {
    .contact_main > div:first-child {
        width: 50%;
    }
}

@media(min-width: 1200px) {
    .contact_main > div:first-child {
        width: 40%;
    }
}

.contact_main h1 {
    text-align: center;
    margin: 0;
}

.contact_main label {
    font-size: 18px;
    margin-left: 20px;
}

.contact_description {
    margin: 30px 20px;
}

.contact_about {
    font-size: 18px;
    margin: 0;
}

.contact_required {
    font-size: 14px;
    margin: 5px 0;
}

.contact_input, .contact_select, .contact_textarea {
    color: #777;
    border: 1px solid #777;
    width: 100%;
    font-size: 16px;
}

.contact_input:focus, .contact_select:focus, .contact_textarea:focus {
    outline: none;
}

.contact_input, .contact_select {
    padding-left: 20px;
    height: 50px;
    margin: 8px auto 25px auto;
}

.contact_select {
    background-color: white;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("/assets/forum/arrow_drop_down_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg");
    background-position: right 1px;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact_textarea {
    resize: none;
    padding: 20px;
    height: 360px;
    margin: 8px 0 50px 0;
}

.contact_btnSubmit, .contact_btnClose {
    background-color: #f8b600;
    color: #FFF;
    display: block;
    border: 1px solid #f8b600;
    width: 20%;
    font-size: 18px;
    text-align: center;
    padding: 15px 0;
    margin: 0 auto;
	transition: all 0.3s ease 0s;
}

.contact_btnSubmit:hover, .contact_btnClose:hover {
    background-color: #FFF;
    color: #f8b600;
}

.contact_bg {
	display: none;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	backdrop-filter: blur(3px);
}

.contact_send {
    display: none;
    position: fixed;
    background-color: #FFF;
    border: 1px solid #777;
    width: 55%;
    height: 45%;
    top: 25%;
    right: 0;
    left: 0;
    margin: auto;
    box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.3);
}

@media(min-width: 992px) {
    .contact_send {
        width: 36%;
    	height: 43%;
    }
}

@media(min-width: 1200px) {
    .contact_send {
        width: 30%;
    	height: 42%;
    }
}

.contact_send p {
    font-size: 20px;
    margin: 15px 10%;
}

.contact_mail {
    display: block;
    margin: 25px auto 0px auto;
}

.contact_btnClose {
    margin: 30px auto 0 auto;
}

.contact_btnSubmit:focus, .contact_btnClose:focus {
	outline: none;
}

.contact_emptyInput {
    background-color: #f3eeee;
    border: 1px solid #BC002D;
}

.contact_waiting {
    position: fixed;
    display: flex;
    background-color: #FFF;
    border: 1px solid #777;
    width: 30%;
    height: 30%;
    top: 30%;
    right: 0;
    left: 0;
    text-align: center;
    justify-items: center;
    flex-wrap: wrap;
    margin: auto;
    box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.3);
}


.contact_waiting > p {
    width: 100%;
    height: 20%;
    margin-top: 13%;
    font-size: 20px;
    padding: 0 5px;
    line-height: 50px;
}

.spinner-box {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.three-quarter-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #777;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin .5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}