<!DOCTYPE html>
<html lang="zh-TW">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Javel</title>
<link th:replace="fragments/source :: head"></link>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.1.0/nouislider.min.css" />
<link rel="stylesheet" th:href="@{/css/search_page2.css}">
<link th:replace="fragments/header :: head"></link>
<link th:replace="fragments/footer :: head"></link>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<h2 class="search_section_title" id="section_title">選擇去程</h2>
	<section class="search2_section_container">
		<div class="search2_time">
			<div class="slider_container">
				<h4>選擇出發時間</h4>
				<div id="slider"></div>
				<div id="rangeDisplay">
					時間: <span id="selectedRange">0 - 24</span> 時
				</div>
			</div>
			<br>
			<hr>
			<div id="airline_container">
				<h4>航空公司</h4>
			</div>
			<hr>
			<div>
				<h4>排序方式</h4>
				<div class="sort_options">
					<input type="radio" id="default" name="sort" class="sort"
						value="default" checked><label>默認</label><br> <input
						type="radio" id="sortPrice" name="sort" class="sort" value="price"><label>價格</label><br>
					<input type="radio" id="sortTime" name="sort" class="sort"
						value="time"><label>時間</label><br>
				</div>
			</div>
		</div>

		<div class="search2_choice" id="search2_choice"></div>

		<div class="search2_space" id="search2_space"></div>

		<!-- 模態窗口結構 -->
		<div id="myModal" class="modal">
			<div class="modal-content">
				<div class="modal-title">
					<h2>確認航班</h2>
					<span class="close">&times;</span>
				</div>
				<div id="modalFlightInfo" class="modalFlightInfo"></div>
				<br>
				<button id="confirmReturn">確認回程航班</button>
			</div>
		</div>


	</section>

	<div th:replace="fragments/footer :: footer"></div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.1.0/nouislider.min.js"></script>
	<script src="/js/search.js"></script>
	<script src="/js/search_page2.js"></script>

</body>

</html>