body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F1F1F1;
}

hr {
    margin: 1rem 0;
    border: 0;
    border-top: solid;
    opacity: .25;
}

.process_bg {
    display: block;
    background-color: rgb(173, 171, 171);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.process_info_bg {
    display: block;
    background-color: #431274;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 2px solid transparent;
    border-top: 2px solid #1f0737;
    border-bottom: 2px solid #1f0737;

}

.container_bg {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10%;
}

.container_notice {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color:  #f5dfe9;
    display: flex;
    border-radius: 10px;
    color: black;
}

.container_lg {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

.container_luggage {
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto;
    background-color: #F4CFE0;
    border-radius: 5px;

}

.container_contact {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #F4CFE0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-radius: 10px;
}

.container_contact>div {
    flex: 1;
}

.container_contactinfo {
    width: 100%;
    box-sizing: border-box;
}

.container_contactinfo>div,
input {
    height: 30px;
    border-radius: 5px;
}

.form_section {
    margin: 0 auto;
}

.container_info {
    width: 100%;
    box-sizing: border-box;
    margin: 5% 2%;
}

.container_info>form {
    box-sizing: border-box;
}


.container_info input,
.container_info select {
    width: 100%;
}

.container_info div {
    margin-bottom: 10px;
}



.grid_luggage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    text-align: center;
    gap: 20px;
    margin: 0 auto;
    padding: 10px;

}

.grid_luggage_icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 80px;
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;


}

.box {
    background-color: white;
    margin: 10px;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.navBar {
    background-color: #F4CFE0;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col_left {
    flex: 2;
    padding: 5% 10%;
}

.container_right {
    width: 100%;
    height:100%;
    padding: 5%;
    background-color: white;
}


.col_right {
    padding: 5px;
    position: fixed;
    bottom: 25%;
    right: 15%;
    width: 18%;
    height:10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 px 2px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.grid_items {
    display: grid;
    grid-template-columns: 10% 10% 30% 30% 10% 10%;
    gap: 5px;
}

.col_ticket {
    flex: 1;
    padding: 10px;
    font-size: 20px;
    margin-left: 5%;
}

.col_notice_right {
    flex: 5;

}

.col_notice_left {
    flex: 1;
    padding-left: 5%;
}

@media (max-width: 992px) {
    body {
        font-size: 14px;
    }

    .col_right {
        font-size: 14px;
    }

    .contact_info {
        flex: 1;
    }

    .grid_luggage_icon {
        font-size: 14px;
    }

}


.label_addluggage {
    display: block;
    width: 40%;
    height: 30px;
    margin-left: auto;
    font-size: 14px;
    background-color: #330c5e;
    border-radius: 5px;
    color: white;
    text-align: center;
}


.contact_info {
    height: 30px;
    text-align: center;
    font-size: 16px;
}


.delete_btn {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    /* Hide the delete button by default */
    margin-left: auto;
    /* Push button to the right */
    padding: 5px 10px;
}

.delete_btn:hover {
    background-color: #1f0737;
    color: white(41, 40, 40);
    border: rgb(41, 40, 40) 2px solid;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal_content {
    background-color: #E9E4D4;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.style_nextstep {
    width: 50%;
    height: 40px;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    background-color: #F4CFE0;
    border-radius: 5px;
    border: none;
}

.style_nextstep:hover {
    background-color: #1f0737;
    color: white;
}

#add_passenger:hover {
    background-color: #1f0737;
    color: white;
}