.forum_body {
    margin: 0;
}

.forum_main {
    background-color: #F1F1F1;
}

.forum_edit {
    width: 75%;
    margin: auto;
}

@media(min-width: 768px) {
	.forum_edit {
    	width: 65%;
	}
}

@media(min-width: 992px) {
	.forum_edit {
    	width: 55%;
	}	
}

.forum_authorInfo {
    display: flex;
    padding: 30px 0 20px 0;
    margin: auto;
}

.forum_authorInfo > img {
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.forum_authorInfo > p {
    display: inline-block;
    font-size: 20px;
    margin: auto 10px;
}

.forum_where {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.forum_where > div {
    display: block;
    width: 260px;
}

@media(min-width: 992px) {
    .forum_where > div {
        display: inline;
    }
}

.forum_where label {
    font-size: 20px;
}

.forum_where select, .forum_where input {
    background-color: #E9E4D4;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 5px 3% 5px 0;
}

.forum_where select:focus, .forum_where input:focus {
    outline: 2px solid black;
}

.forum_edit_body {
    margin: auto;
}

.forum_edit_input {
    box-sizing: border-box;
    display: block;
    background-color: #E9E4D4;
    border: none;
    width: 100%;
    height: 60px;
    font-size: 20px;
    margin: 20px 0;
    padding-left: 20px;
}

.forum_edit_input:focus {
    border-radius: 2px;
    outline: 2px solid black;
}

.forum_e_share {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
}

.forum_e_share label {
    display: inline-block;
    margin: 10px 0;
    cursor:pointer;
}

.forum_e_star {
    -webkit-appearance: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("/assets/forum/star_FILL0.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto 5px;
}

.forum_e_starFill {
    background-image: url("/assets/forum/star_FILL1.svg");
}

#forum_onHomePage_id {
    -webkit-appearance: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/assets/forum/check_box_outline_blank_24dp_000_FILL0_wght400_GRAD0_opsz24.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto 5px auto 50px;
}

#forum_onHomePage_id:checked {
    background-image: url("/assets/forum/check_box_24dp_000_FILL0_wght400_GRAD0_opsz24.svg");
}

.forum_e_textarea {
    background-color: #E9E4D4;
    height: 470px;
    margin: 25px 0;
    outline: none;
}

.forum_e_textarea:focus-within {
    border-radius: 2px;
    outline: 2px solid black;
}

.forum_e_textarea > textarea {
    resize: none;
    box-sizing: border-box;
    background-color: #E9E4D4;
    border: none;
    width: 100%;
    height: 400px;
    font-size: 24px;
    padding: 20px;
    margin: 0;
}

.forum_e_textarea > textarea:focus {
    border: none;
    outline: none;
}

.forum_e_textarea > div {
    display: flex;
    align-items: center;
    padding-top: 0;
    margin: 0;
}

.forum_e_textarea p {
    margin-left: auto;
}

.forum_e_textarea button {
    display: inline-block;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    background-image: url("/assets/forum/send_24dp_000_FILL0_wght400_GRAD0_opsz24.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin: 10px 20px;
}

#forum_uploadImg {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    padding-bottom: 100px;
    width: 100%;
}

@media(min-width: 992px) {
    #forum_uploadImg {
        height: 420px;
    }
}

.forum_cover, .forum_noImg {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}

@media(min-width: 992px) {
    .forum_cover, .forum_noImg {
        width: 48%;
    }
}

.forum_coverImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media(min-width: 992px) {
    .forum_uploadImg > img {
        width: 48%;
        height: 420px;
        object-fit: cover;
    }
}

.forum_moreImg {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 95%;
    height: 120px;
}

@media(min-width: 992px) {
    .forum_moreImg {
        width: 48%;
    }
}

.forum_preview {
    position: relative;
    width: 33.3%;
    height: 100%;
}

.forum_previewImg {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forum_deleteImg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
    background-image: url("/assets/forum/close_deletImage.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.forum_deleteImg:hover {
    opacity: 0.7;
}

.forum_chooseImg {
    width: 90%;
}

@media(min-width: 992px) {
    .forum_chooseImg {
        width: 46%;
    }
}

.forum_chooseImg > p {
    margin: 10px 0;
}

#forum_chooseImg_label{
    display: flex;
    background-color: #D2D2D2;
    height: 140px;
    justify-items: center;
    align-items: center;
}

.forum_chooseImg img {
    display: inline-block;
    margin: auto;
}

@media(min-width: 768px) {
    .forum_chooseImg img {
        margin: auto 0 auto 10%;
    }
}

@media(min-width: 1200px) {
    .forum_chooseImg img {
        margin: auto 10%;
    }
}

.forum_chooseImg span {
    display: none;
}

@media(min-width: 768px) {
    .forum_chooseImg span {
        display: inline-block;
        font-size: 24px;
        margin: auto 5px;
    }
}

.forum_chooseImg input {
    display: none;
}

.forum_edit_emptyInput {
    border-radius: 2px;
    outline: 2px solid #BC002D;
    /* box-shadow: 0 0 5px red; */
}

.forum_edit_OKwindow, .forum_edit_failwindow {
    position: fixed;
    display: flex;
    background-color: #FFF;
    border: 2px solid black ;
    border-radius: 10px;
    width: 30%;
    height: 30%;
    top: 35%;
    right: 0;
    left: 0;
    text-align: center;
    justify-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.forum_edit_failwindow {
    top: 30%;
}

.forum_edit_OKwindow > p {
    width: 100%;
    height: 20%;
    margin-top: 13%;
    font-size: 30px;
    padding: auto;
    line-height: 50px;
}

.forum_edit_failwindow > p {
    width: 100%;
    height: 30%;
    margin-top: 10%;
    font-size: 24px;
    padding: auto;
    line-height: 50px;
}

.forum_edit_failwindow > button {
    display: inline-block;
    background-color: transparent;
    border-radius: 5px;
    font-size: 20px;
    width: 30%;
    height: 15%;
    margin: 5% auto;
}

.forum_edit_failwindow > button:hover {
    background-color: black;
    color: #FFF;
}

.spinner-box {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.three-quarter-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #000;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin .5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

#forum_stars input:hover{
	cursor:pointer;
}

#forum_onHomePage_id:hover{
	cursor:pointer;
}

#forum_chooseImg_label:hover {
	cursor:pointer;
}

.forum_deleteImg:hover {
	cursor:pointer;
}