* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F1F1F1;
}


a {
    text-decoration: none;
}


/* Header */
header {
    background-color: #132953;
    position: sticky;
    top: 0;
    z-index: 101;
}

#header {
    max-width: 60vw;
    margin: auto;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.header_logo img {
    width: 10vw;
    height: 8vh;
}

.header_nav_links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.header_link a {
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.header_link img {
    width: 3vw;
    height: 3vh;
    object-fit: scale-down;

}

/* Footer */
footer {
    background-color: #132953;
    color: white;
}

.search_section_container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem;
}

.search_footer_container {
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

.search_footer_col h5 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
}

.search_footer_col p {
    max-width: 300px;
    color: black;
    
}

.search_footer_col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.search_footer_col a {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    transition: 0.3s;
}

.search_footer_col a:hover {
    color: blue;
}

.search_footer_socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.search_footer_socials span a {
    padding: 5px 10px;
    margin: 0;
    font-size: 1.25rem;
    color: white;
    background-color: #132953;
    border-radius: 100%;
}

.search_footer_socials span a:hover {
    color: white;
    background-color: #000093;
}

.search_footer_bar {
    padding: 0.5rem;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}

hr {
    margin: 1rem 0;
    border: 0;
    border-top: solid;
    opacity: .25;
}


.process_bg {
    display: block;
    background-color: rgb(173, 171, 171);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.process_info_bg {
    display: block;
    background-color: #132953;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 2px solid transparent;
    border-top: 2px solid #132953;
    border-bottom: 2px solid #132953;

}


.container_bg {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10%;
}



.container_notice {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color:  #d1e3f3;
    display: flex;
    color: black;
}


.container_lg {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}


.container_luggage {
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto;
    background-color: #d1e3f3;
    border-radius: 5px;

}

.container_contact {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #bbd2e7;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-radius: 10px;
}

.container_contact>div {
    flex: 1;
}

.container_contactinfo {
    width: 100%;
    box-sizing: border-box;
}

.container_contactinfo>div,
input {
    height: 30px;
    border-radius: 5px;
}

.form_section {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 100%;
}

.form_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    max-width: 100%;
}

.container_info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 100%;
}

.container_info>form {
    box-sizing: border-box;
}

.form_name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
    max-width: 100%;
}

.form_row {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    gap: 15px;
    align-items: center;
    max-width: 100%;
}

label {
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
}

.form_row div {
    display: flex;
    align-items: center;
}

#gender, #country {
    width: 50%;
}


.container_info input,
.container_info select {
    width: 100%;
}

.container_info div {
    margin-bottom: 10px;
}



.grid_luggage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    text-align: center;
    gap: 20px;
    margin: 0 auto;
    padding: 10px;

}

.grid_luggage_icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 80px;
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;


}

.box {
    background-color: white;
    margin: 10px;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.navBar {
    background-color: #bad6ee;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col_left {
    flex: 2;
    padding: 0 10%;
}

.container_right {
    width: 100%;
    padding: 5%;
    background-color: white;
}


.col_right {
    padding: 5px;
    position: fixed;
    bottom: 25%;
    right: 15%;
    width: 18%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 px 2px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.container_right>div {
    margin: 1px 0;
    /* 調整行距 */
}


.grid_items {
    display: grid;
    grid-template-columns: 10% 10% 30% 30% 10% 10%;
    gap: 5px;
}

.col_ticket {
    flex: 1;
    padding: 10px;
    font-size: 20px;
    margin-left: 5%;
}

.col_notice_right {
    flex: 5;

}

.col_notice_left {
    flex: 1;
    padding-left: 5%;
}




.label_addluggage {
    display: block;
    width: 40%;
    height: 30px;
    margin-left: auto;
    font-size: 14px;
    background-color: #132953;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-top: 20px
}



.contact_info {
    height: 30px;
    text-align: center;
    font-size: 16px;
}


.delete_btn {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    /* Hide the delete button by default */
    margin-left: auto;
    /* Push button to the right */
    padding: 5px 10px;
}

.delete_btn:hover {
    background-color: #1f0737;
    color: white(41, 40, 40);
    border: rgb(41, 40, 40) 2px solid;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal_content {
    background-color: #bad6ee;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.style_nextstep {
    width: 50%;
    height: 40px;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    background-color: #132953;
    border-radius: 5px;
    border: none;
    color: white;
}

.style_nextstep:hover {
    background-color: #bad6ee;
    color: #132953;
}

#add_passenger:hover {
    background-color: #132953;
    color: white;
}



@media (max-width: 992px) {
    .form_container, .form_row {
        grid-template-columns: 1fr;
    }
    .form_name {
        flex-direction: column;
    }
    #gender, #country {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .form_container, .form_row {
        grid-template-columns: 1fr;
    }
    .form_name {
        flex-direction: column;
    }
    #gender, #country {
        width: 100%;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 14px;
    }

    .col_right {
        font-size: 14px;
    }

    .contact_info {
        flex: 1;
    }

    .grid_luggage_icon {
        font-size: 14px;
    }

}
