a {
    text-decoration: none;
}

/* Header */
header {
    background-color: #FFC1E0;
    position: sticky;
    top: 0;
    z-index: 101;
}

#header {
    max-width: 60vw;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.header_logo img {
    width: 5vw;
    height: 5vh;
}

.header_nav_links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.header_link a {
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.header_link img {
    width: 3vw;
    height: 3vh;
    object-fit: scale-down;
}

/* Footer */
footer {
    background-color: #FFC1E0;
}

.search_section_container {
    max-width: 1200px;
    margin: auto;
    padding: 3rem 1rem;
}

.search_footer_container {
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

.search_footer_col h5 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
}

.search_footer_col p {
    max-width: 300px;
    color: black;
}

.search_footer_col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.search_footer_col a {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    transition: 0.3s;
}

.search_footer_col a:hover {
    color: blue;
}

.search_footer_socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.search_footer_socials span a {
    padding: 5px 10px;
    margin: 0;
    font-size: 1.25rem;
    color: white;
    background-color: #930000;
    border-radius: 100%;
}

.search_footer_socials span a:hover {
    color: white;
    background-color: #000093;
}

.search_footer_bar {
    padding: 1rem;
    font-size: 0.8rem;
    color: black;
    text-align: center;
}

hr {
    margin: 1rem 0;
    border: 0;
    border-top: solid;
    opacity: .25;
}