* {
    box-sizing: border-box;
}

.forum_body {
    margin: 0;
}

.forum_main {
    background-color: #F1F1F1;
}

.forum_main article {
    width: 65%;
    margin: auto;
}

.forum_place {
    width: 65%;
    font-size: 24px;
    padding: 10px 0;
    margin: auto;
}

.forum_place a, .forum_place a:hover, .forum_place a:focus, .forum_place a:visited{
    color: black;
    text-decoration: none;
}

.forum_place span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon/arrow_forward_ios_24dp_000_FILL1_wght400_GRAD0_opsz24.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto 5px;
}   

.forum_view {
    display: flex;
    align-items: center;
}

.forum_btnLast, .forum_btnNext {
    display: inline-block;
    border: none;
    width: 50px;
    height: 50px;
    background-image: url("../img/icon/expand_circle_down_24dp_000_FILL1_wght400_GRAD0_opsz24.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.forum_btnLast {
    transform: rotate(90deg);
    margin-left: auto;
}

.forum_btnLast:hover {
    transform: scale(1.1) rotate(90deg);
}

.forum_btnNext {
    transform: rotate(-90deg);
    margin-right: auto;
}

.forum_btnNext:hover {
    transform: scale(1.1) rotate(-90deg);
}

/* .forum_photo, .forum_photos {
    
} */

/* .forum_photo {
    background-color: #403535;
    height: auto;
    margin: auto 20px;
    padding: 0;
} */

.forum_photoImg {
    margin: 0 20px;
    width: 60%;
    object-fit: cover
}

.forum_photos {
    display: flex;
    background-color: #140e0e;
    width: 60%;
    text-align: center;
    height: 50px;
    margin: auto;
    padding: 0;
}

@media(min-width: 576px) {
    .forum_photos {
        height: 80px;
    }
}

@media(min-width: 768px) {
    .forum_photos {
        height: 105px;
    }
}

@media(min-width: 992px) {
    .forum_photos {
        height: 120px;
    }
}

@media(min-width: 1200px) {
    .forum_photos {
        height: 150px;
    }
}

.forum_photos img {
    width: auto;
    height: 100%;
    margin: 0 auto;
    object-fit: cover
}

.forum_detail_stars {
    height: 45px;
    margin: 30px 20px 5px 30px;
}

.forum_d_star {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url("../img/icon/star_FILL0.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto 5px;
}

.forum_d_starFill {
    background-image: url("../img/icon/star_FILL1.svg");
}

.forum_detail_info {
    display: flex;
}

.forum_detail_title {
    display: inline-block;
}

.forum_detail_title h1 {
    font-size: 42px;
    margin: 10px 35px 10px 35px;
}

.forum_detail_title h2 {
    display: inline-block;
    color: #656565;
    font-size: 24px;
    font-weight:normal;
    margin: auto 5px auto 50px;
}

.forum_detail_title h3 {
    display: inline-block;
    color: #656565;
    font-size: 18px;
    font-weight:normal;
    font-style: italic;
    margin: auto 35px auto 5px;
}

.forum_authorInfo {
    display: flex;
    padding: 40px 0 30px 0;
    margin-left: auto;
}

.forum_authorInfo > img {
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    margin: auto 10px;
}

.forum_authorInfo > p {
    display: inline-block;
    font-size: 18px;
    margin: auto 40px auto 0;
}

.forum_detail_body {
    margin: auto 40px;
    font-size: 18px;
    line-height: 30px;
}

.forum_detail_body a {
    color: #0066FF;
    text-decoration: none;
    margin-right: 25px;
}

.forum_detail_body a:hover {
    color: #023786;
}

.forum_detail_date {
    color: #353535;
}

.forum_detail_btns {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 20px 0 60px 0;
}

.forum_detail_checkBtn {
    background-color: transparent;
    display: inline-block;
    border: none;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.forum_d_good_unchecked {
    background-image: url("../img/icon/thumb_up_24dp_000_FILL0_wght400_GRAD0_opsz24.svg");
}

.forum_d_good_checked {
    background-image: url("../img/icon/thumb_up_24dp_000_FILL1_wght400_GRAD0_opsz24.svg");
}

.forum_d_goodCount {
    font-size: 28px;
}

.forum_d_bookmark_unchecked {
    background-image: url("../img/icon/bookmark_FILL0.svg");
}

.forum_d_bookmark_checked {
    background-image: url("../img/icon/bookmark_FILL1.svg");
}

.forum_d_report {
    background-image: url("../img/icon/warning_FILL0.svg");
    margin: auto 30px auto auto;
}

.forum_d_report:hover {
    background-image: url("../img/icon/warning_FILL1.svg");
}

.forum_d_edit {
    background-image: url("../img/icon/edit_square_24dp_000_FILL0_wght400_GRAD0_opsz24.svg");
}

.forum_d_btnsMargin {
    margin: 0 115px 0 5px;
}


/* 輪播圖 */
.forum_smallPhoto {
    opacity: 0.3;
}

.forum_smallPhoto_active {
    opacity: 1;
}

.forum_photoImg {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}