.forum_body {
    margin: 0;
}

.forum_main {
    background-color: #F1F1F1;
}

.forum_main > div {
    width: 80%;
    margin: auto;
}

.forum_authorInfo {
    display: flex;
    padding: 30px 0;
}

.forum_authorInfo > img {
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
}

.forum_authorInfo > p {
    display: inline-block;
    font-size: 32px;
    margin: auto 10px;
}

.forum_where {
    margin-bottom: 40px;
}


.forum_where > div {
    display: block;
}

@media(min-width: 992px) {
    .forum_where > div {
        display: inline;
    }
}

.forum_where label {
    font-size: 24px;
}

.forum_where select, .forum_where input {
    background-color: #E9E4D4;
    border: none;
    border-radius: 8px;
    width: 220px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 5px 5% 5px 0;
}

.forum_where select:focus, .forum_where input:focus {
    outline: 2px solid black;
}

.forum_edit_body {
    width: 90%;
    margin: auto;
}

.forum_edit_body input[type="text"] {
    box-sizing: border-box;
    display: block;
    background-color: #E9E4D4;
    border: none;
    width: 100%;
    height: 60px;
    font-size: 20px;
    margin: 20px 0;
    padding-left: 20px;
}

.forum_edit_body input[type="text"]:focus {
    border-radius: 2px;
    outline: 2px solid black;
}

.forum_e_share {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
}

.forum_e_share label {
    display: inline-block;
    margin: 10px 0;
}

.forum_e_star {
    -webkit-appearance: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../img/icon/star_FILL0.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto 5px;
}

#forum_star_5 {
    margin-right: 50px;
}

.forum_e_star:hover, .forum_e_star:focus {
    background-image: url("../img/icon/star_FILL1.svg");
}

.forum_e_starFill {
    background-image: url("../img/icon/star_FILL1.svg");
}

#forum_onHomePage_id {
    -webkit-appearance: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon/check_box_outline_blank_24dp_000_FILL0_wght400_GRAD0_opsz24.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto 5px;
}

#forum_onHomePage_id:checked {
    background-image: url("../img/icon/check_box_24dp_000_FILL0_wght400_GRAD0_opsz24.svg");
}

.forum_e_textarea {
    background-color: #E9E4D4;
    height: 470px;
    margin: 25px 0;
    outline: none;
}

.forum_e_textarea:focus-within {
    border-radius: 2px;
    outline: 2px solid black;
}

.forum_e_textarea > textarea {
    resize: none;
    box-sizing: border-box;
    background-color: #E9E4D4;
    border: none;
    width: 100%;
    height: 400px;
    font-size: 24px;
    padding: 20px;
    margin: 0;
}

.forum_e_textarea > textarea:focus {
    border: none;
    outline: none;
}

.forum_e_textarea > div {
    display: flex;
    align-items: center;
    padding-top: 0;
    margin: 0;
}

.forum_e_textarea p {
    margin-left: auto;
}

.forum_e_textarea button {
    display: inline-block;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    background-image: url("../img/icon/send_24dp_000_FILL0_wght400_GRAD0_opsz24.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin: 10px 20px;
}

.forum_uploadImg {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    padding-bottom: 100px;
}

@media(min-width: 992px) {
    .forum_uploadImg {
        height: 420px;
    }
}

.forum_uploadImg > img {
    width: 95%;
    object-fit: cover;
    margin-bottom: 20px;
}

@media(min-width: 992px) {
    .forum_uploadImg > img {
        width: 48%;
        height: 420px;
        object-fit: cover;
    }
}

.forum_moreImg {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 95%;
}

@media(min-width: 992px) {
    .forum_moreImg {
        width: 48%;
    }
}

.forum_moreImg > img {
    width: 40%;
    height: 182px;
    object-fit: cover;
}

.forum_chooseImg {
    width: 90%;
}

@media(min-width: 992px) {
    .forum_chooseImg {
        width: 46%;
    }
}

.forum_chooseImg label{
    display: block;
    background-color: #D2D2D2;
    height: 165px;
    
}

.forum_chooseImg div {
    display: flex;
    justify-items: center;
}

.forum_chooseImg img {
    display: inline-block;
    margin: 25px 50px;
}

.forum_chooseImg span {
    display: inline-block;
    font-size: 24px;
    margin: auto 5px;
}

.forum_chooseImg input {
    display: none;
}