.forum_body {
    margin: 0;
}

.forum_main {
    background-color: #F1F1F1;
}

.forum_search {
    width: 65%;
    margin: auto;
    padding: 50px 0;
}

.forum_search form {
    text-align: center;
    margin-top: 50px;
}

.forum_search select, .forum_search input, .forum_search button {
    background-color: #E9E4D4;
    border: 2px solid black;
    border-radius: 30px;
    width: 180px;
    height: 80px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

.forum_search optgroup {
    background-color: #E9E4D4;
}

.forum_search input {
    width: 90%;
    padding: 0 20px;
}

@media(min-width: 992px) {
    .forum_search input {
        width: 500px;
    }   
}

.forum_search button {
    width: 110px;
    height: 65px;
    font-weight: bold;
}

.forum_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding-bottom: 10vh;
}

.forum_card {
    margin: 30px 16px;
    background-color: #FFFCFC;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(80, 80, 80, 0.4);
}

.forum_card article {
    display: block;
    height: 420px;
}

.forum_card div {
    display: flex;
    height: 80px;
    line-height: 80px;
}

.forum_card h2 {
    font-size: 26px;
    font-weight: bold;
    margin: 20px 22px 12px 22px;
}

.forum_articleMore {
    font-size: 16px;
    line-height: 26px;
    margin: 0 30px 0 30px;
}

.forum_articleImg {
    border-radius: 10px 10px 0 0;
}

.forum_articleMore::after {
    content: "…";
}

.forum_authorImg {
    clip-path: circle(50%);
    margin: 15px 10px 15px 20px;
}

.forum_author, .forum_postDate {
    display: inline-block;
    color: #1f1f1f;
    line-height: 80px;
    margin: 0;
}

.forum_postDate {
    display: inline-block;
    color: #777777;
    font-size: 14px;
    margin: 2px 25px 0 auto;
}

.forum_write {
    /* background-color: blue; */
    position: fixed;
    right: 10%;
    bottom: 100px;
    text-align: center;
}

.forum_write p {
    color: #79470D;
    font-weight: bold;
    margin: 0;
}

.forum_card a, .forum_card a:hover, .forum_card a:visited, .forum_card a:focus,
.forum_write a, .forum_write a:hover, .forum_write a:visited, .forum_write a:focus {
    color: black;
    text-decoration: none;
}