<!DOCTYPE html>
<html lang="zh-Hans-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章標題</title>
    <link rel="stylesheet" href="/css/a_HeaderFooter.css">
    <link rel="stylesheet" href="/css/forum_detail.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
    <script th:if=${login} th:inline="javascript">
    	var like = /*[[${like}]]*/ "false";
    	var bookmark = /*[[${bookmark}]]*/ "false";
    	var report = /*[[${report}]]*/ "false";
    	console.log("like: " + like);
    	console.log("bookmark: " + bookmark);
    	console.log("report: " + report);
    </script>
</head>
<body class="forum_body">
    <header>
        <nav id="header">
            <div class="header_logo"><a href=""><img src="../Yang/圖片/logo.png"></a></div>
            <ul class="header_nav_links">
                <li class="header_link"><a href="#"><img src="../Yang/圖片/icon_logIn.png"></a></li>
                <li class="header_link"><a href="/forum"><img src="../Yang/圖片/icon_Forum.png"></a></li>
            </ul>
        </nav>
    </header>
    <main class="forum_main">
        <div class="forum_place">
            <p>
                <a th:href="@{/forum(country=${post.post.country})}" th:text="${post.post.country}">日本</a>
                <span></span>
                <a th:href="@{/forum(country=${post.post.country}, city=${post.post.city})}" th:text="${post.post.city}" class="forum_area">熊本</a>
            </p>
        </div>
        <div>
            <div class="forum_view">
                <button class="forum_btnLast" id="forum_lastImg"></button>
                <div class="forum_photo">
                	<img th:each="image : ${post.imageURL}" th:src="${image}" class="forum_photoImg">
                </div>
                <button class="forum_btnNext" id="forum_nextImg"></button>
            </div>
            <div class="forum_photos">
                <img th:each="image : ${post.imageURL}" th:src="${image}" class="forum_smallPhoto">
            </div>
        </div>
        <article>
            <div class="forum_detail_stars">
                <!-- 星星 -->
				<span 
                	th:each="i : ${#numbers.sequence(0, 4)}" 
          			th:class="${i < post.post.rate ? 'forum_d_star forum_d_starFill' : 'forum_d_star'}">
          		</span>
            </div>
            <div class="forum_detail_info">
                <div class="forum_detail_title">
                    <h1 th:text="${post.post.mainTitle}"></h1>
                    <div>
                        <h2 th:if="${post.post.subTitle != ''}" th:text="${post.post.subTitle}"></h2>
                        <h3>
                        	<span 
                        		th:if="${(post.post.startDate != null) and (post.post.endDate != null)}"
                        		th:text="${post.post.startDate} + ' ~ ' + ${post.post.endDate}">
                        	</span>
                        	<span 
                        		th:if="${(post.post.startDate != null) and (post.post.endDate == null)}"
                        		th:text="${post.post.startDate} + ' ~ '">
                        	</span>
                        	<span 
                        		th:if="${(post.post.startDate == null) and (post.post.endDate != null)}"
                        		th:text="' ~ ' + ${post.post.endDate}">
                        	</span>
                        </h3>
                    </div>
                </div>
                <div class="forum_authorInfo">
                    <img th:src="${post.userNameIconDTO.iconURL}" alt="author_icon">
                    <p th:text="${post.userNameIconDTO.username}"></p>
                </div>
            </div>
            <div class="forum_detail_body">
                <p th:utext="${post.post.content}"></p>
                <a th:each="tag : ${tags}" th:href="@{/forum(key=${tag})}" th:text="'#' + ${tag}"></a>
                <p th:text="'發布於　' + ${post.createdDate}" class="forum_detail_date"></p>
            </div>
        </article>
        <div class="forum_detail_btns">
            <button id="forum_detail_like" th:class="${like ? 'forum_detail_checkBtn forum_d_like_checked' : 'forum_detail_checkBtn forum_d_like_unchecked'}"></button>
            <span th:text="${post.countLikes}" id="forum_detail_countLike" class="forum_d_countLike forum_d_btnsMargin"></span>
            <button id="forum_detail_bookmark" th:if=${login} th:class="${bookmark ? 'forum_detail_checkBtn forum_d_bookmark_checked forum_d_btnsMargin' : 'forum_detail_checkBtn forum_d_bookmark_unchecked forum_d_btnsMargin'}"></button>
            <div th:if="${edit}" class="forum_detail_btnsForAuthor">
	            <a th:href="@{/forum/edit(id=${post.post.id})}" class="forum_detail_checkBtn forum_d_edit forum_d_showBtn forum_d_btnsMargin"></a>
	            <button id="forum_detail_delete" class="forum_detail_checkBtn forum_d_delete forum_d_btnsMargin"></button>
            </div>
            <button id="forum_detail_report" th:if=${login} class="forum_detail_checkBtn forum_d_report"></button>
        </div>
    </main>
    <footer>
        <div class="search_section_container search_footer_container">
            <div class="search_footer_col">
                <h4>追蹤我們</h4>
                <hr style="width:50%">
                <div class="search_footer_socials">
                    <span>
                        <a href="#"><i class="ri-twitter-fill"></i></a>
                    </span>
                    <span>
                        <a href="#"><i class="ri-linkedin-fill"></i></a>
                    </span>
                    <span>
                        <a href="#"><i class="ri-instagram-line"></i></a>
                    </span>
                    <span>
                        <a href="#"><i class="ri-facebook-fill"></i></a>
                    </span>
                </div>
            </div>
            <div class="search_footer_col">
                <h4>隱私</h4>
                <hr style="width:80%">
                <a href="#">隱私權政策</a>
                <a href="#">隱私設定</a>
            </div>
            <div class="search_footer_col">
                <h4>Cookie</h4>
                <hr style="width:80%">
                <a href="#">Cookie政策</a>
                <a href="#">Cookie設定</a>
            </div>
            <div class="search_footer_col">
                <h4>合作夥伴</h4>
                <hr style="width:80%">
                <a href="#">廣告投放</a>
                <a href="#">旅遊宣傳合作</a>
            </div>
        </div>
        <div class="search_footer_bar">
            Copyright © 2024 Javel. All rights reserved.
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/forum_carousel.js"></script>
    <script src="/js/forum_detailFetch.js"></script>
</body>
</html>