<!DOCTYPE html>
<html lang="zh-Hans-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台：論壇</title>
    <link rel="stylesheet" href="/css/forum_admin.css">
    <link th:replace="fragments/header :: head"></link>
	<link th:replace="fragments/footer :: head"></link>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body class="Forum_body">

	<div th:replace="fragments/header :: header"></div>
    
    <main class="Forum_main">
        <div id="Backstage_LeftSide">
            <div id="Backstage_LeftMember">會員管理</div>
            <div id="Backstage_LeftOrder">訂單管理</div>
            <div id="Backstage_LeftFlight">航班管理</div>
            <div id="Backstage_LeftForum">論壇管理</div>
        </div>
        <div class="Forum_adminPanel">
            <h1>論壇管理</h1>
            <div>
                <div class="Forum_divTable">
                </div>
                <div class="Forum_page">
                </div>
            </div>
        </div>
    </main>
    
    <div th:replace="fragments/footer :: footer"></div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/forum_admin.js"></script>
</body>

</html>