<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>會員管理</title>
  <link rel="stylesheet" href="/css/Member.css" />
</head>

<body>

  <main>
    <div id="Backstage_LeftSide">
      <div id="Backstage_LeftMember">會員管理</div>
      <div id="Backstage_LeftOrder">訂單管理</div>
      <div id="Backstage_LeftFlight">航班管理</div>
      <div id="Backstage_LeftForum">論壇管理</div>
    </div>
    <div id="Member_MiddleSide">
      <h1>會員管理</h1>
      <div id="Member_search-filter">
        <div id="Member_LeftSearch">
          <input type="text" id="Member_searchBar" placeholder="搜尋會員" />
        </div>
        <div id="Member_pagination">
          <span id="Member_prevPage" disabled>上一頁</span>
          <span><select id="Member_pageSelector"></select></span>
          <span id="Member_nextPage">下一頁</span>
        </div>
      </div>
      <table id="Member_Table">
        <thead>
          <tr>
            <th>勾選全部&nbsp;<input type="checkbox" id="Member_CheckAll"></th>
            <th>ID</th>
            <th>用戶名</th>
            <th>Email</th>
            <th>手機</th>
            <th>出生日期</th>
            <th>其他資料</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div id="Member_Notify_ButtonSide">
        <button id="Member_Notify">發送通知</button>
      </div>
      <div id="Member_notification" class="Member_hidden">
        <p>已成功通知會員！</p>
      </div>
    </div>

    <div id="Member_Window">
      <div id="Member_Window_Content">
        <span id="Member_CloseModal">&times;</span>
        <h2>會員詳細資料</h2>
        <div class="Member2_details">

          <div class="detail">
            <label>性別：</label>
            <span id="gender"></span>
          </div>

          <div class="detail">
            <label>證件號碼：</label>
            <span id="idNumber"></span>
          </div>

          <div class="detail">
            <label>國籍：</label>
            <span id="nationality"></span>
          </div>

          <div class="detail">
            <label>證件類型：</label>
            <span id="idType"></span>
          </div>

          <div class="detail">
            <label>證件有效日期：</label>
            <span id="idExpiry"></span>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>
<script src="/js/Member.js"></script>

</html>