 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

 :root {
   --primary-color: black;
   --primary-color-dark: #c3282b;
   --secondary-color: #f9f9f9;
   --text-dark: #0f172a;
   --text-light: #64748b;
   --white: #ffffff;
   --max-width: 1200px;
 }

 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 html,
 body {
   /* border: 3px solid rgb(173, 13, 13); */
   scroll-behavior: smooth;
 }

 body {
   font-family: "Poppins", sans-serif;
   background-color: var(--secondary-color);
 }

 a {
   text-decoration: none;
 }

 .section_container {
   /* border: 2px solid rgb(15, 33, 170); */
   max-width: var(--max-width);
   margin: auto;
   padding: 5rem 1rem;
 }

 .section_header {
   /* border: 2px solid rgb(170, 15, 33); */
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 2rem;
 }

 .section_title {
   /* border: 2px solid rgb(20, 175, 210); */

   font-size: 2.5rem;
   font-weight: 700;
   color: var(--text-dark);
 }

 .destination_grid {
   /* border: 2px solid rgb(17, 17, 218); */
   margin-top: 4rem;
   display: grid;
   grid-template-columns: 350px repeat(3, 1fr);
   grid-auto-rows: max-content;
   gap: 1.5rem;
 }

 .destination_card {
   /* border: 10px solid rgb(12, 199, 28); */
   position: relative;
 }

 .badge {
   /* border: 2px solid rgb(224, 151, 16); */
   position: absolute;
   top: 1rem;
   left: 1rem;
   padding: 2px 15px;
   font-size: 0.9rem;
   font-weight: 600;
   color: var(--primary-color);
   background-color: #f0c8c9;
   border-radius: 1rem;
 }

 .destination_card:nth-child(1) {
   /* border: 6px solid rgb(232, 22, 57); */
   grid-area: 1/1/3/2;
 }

 .destination_card:nth-child(2) {
   /* border: 3px solid rgb(20, 207, 126); */
   grid-area: 1/2/2/4;
 }

 .destination_card img {
   /* border: 5px solid rgb(188, 210, 16); */
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 10px;
 }

 .destination_details {
   /* border: 2px solid rgb(145, 20, 207); */
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 1rem;
 }

 .destination_details h4 {
   /* border: 2px solid rgb(178, 213, 38); */
   font-size: 1.2rem;
   font-weight: 500;
   color: var(--white);
 }

 .destination_details p {
   font-size: 0.9rem;
   color: var(--white);
 }

 @media (width < 1200px) {
   .destination_grid {
     gap: 1rem;
   }
 }

 @media (width < 900px) {
   .destination_grid {
     grid-template-columns: repeat(3, 1fr);
   }

   .destination_card:nth-child(1),
   .destination_card:nth-child(2) {
     grid-area: unset;
   }

   .client_grid {
     grid-template-columns: repeat(2, 1fr);
     gap: 1rem;
   }
 }

 @media (width < 600px) {
   .destination_grid {
     grid-template-columns: repeat(2, 1fr);
   }

   .client_grid {
     grid-template-columns: repeat(1, 1fr);
   }
 }

 #home_newsSection {
   display: flex;
   flex-direction: column;
 }

 .carousel-container {
   /* border: 2px solid rgb(87, 8, 185); */
   /* height: 55vh; */
   width: 100%;
   object-fit: contain;
   background-image: url("/img/sky.jpg");
   background-position: center;
   background-size: cover;
   position: relative;
 }

 .carousel-inner {
   display: flex;
   transition: transform 0.8s ease-in-out;
   position: relative;
   z-index: 2;
 }

 .carousel-container::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   z-index: 1;
   pointer-events: none;
 }

 .carousel-slide {
   /* border: 2px solid rgb(11, 112, 6); */
   min-width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .carousel-slide img {
   /* border: 2px solid rgb(44, 13, 218); */
   background-color: #000000;
   padding: 3vh;
   width: 40vw;
   height: 50vh;
   object-fit: contain;
   transition: transform 0.5s ease-in-out;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .carousel-slide h2 {
   /* border: 2px solid rgb(127, 215, 11); */
   position: absolute;
   top: 46vh;
   width: 50vw;
   /* background-color: #706f6f; */
   display: flex;
   align-items: end;
   justify-content: center;
   height: 4vh;
   /* padding: 1.5vh; */
   max-width: 100%;
   /* margin-top: 2vh; */
 }

 .carousel-slide h2 a {
   color: white;
   text-decoration: none;
   font-size: 1vw;
 }

 .carousel-slide h2 a:hover {
   text-decoration: underline;
 }

 .carousel-dots-container {
   /* border: 2px solid red; */
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 1vh;
   left: 43vw;
   width: 13%;
 }

 .prev,
 .next {
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   font-size: 1.5vw;
   cursor: pointer;
 }

 .prev:hover,
 .next:hover {
   color: rgba(0, 0, 0, 0.8);
 }

 .carousel-dots {
   display: flex;
   justify-content: center;
   flex-grow: 1;
 }

 .carousel-dots span {
   cursor: pointer;
   height: 1.4vh;
   width: 0.7vw;
   margin: 0.5vw;
   background-color: #8f8b8b;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.3s ease;
 }

 .carousel-dots span.active {
   background-color: #000000;
 }

 .member_forum_card_group {
   /* border: 2px solid rgb(192, 14, 26); */
   display: flex;
   justify-content: center;
   grid-template-columns: repeat(3, 1fr);
   gap: 1vw;
 }

 .member_forum_card {
   /* border: 2px solid red; */
   margin: 5vh 0.8vw;
   background-color: #FFFCFC;
   display: flex;
   flex-direction: column;
   width: 17vw;
   height: 53vh;
   border-radius: 10px;
   box-shadow: 0 5px 5px rgba(80, 80, 80, 0.4);
 }

 .member_forum_card article {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #000000;
 }

 .member_forum_card article .member_forum_articleImg {
   width: 100%;
   height:28vh;
   border-radius: 10px 10px 0 0;
 }

 .member_forum_card article h3 {
   align-items: start;
   font-size: 1.3vw;
   font-weight: bold;
   margin: 2vh 1vw 2vh 1vw;
 }

 .member_forum_card article .member_forum_articleMore {
   font-size: 0.8vw;
   line-height: 3vh;
   margin: 0 1vw 0 1vw;
   max-width: 12vw;
   max-height: 10vh;
   white-space: normal;
   overflow-wrap: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
 }

 .member_forum_card article .member_forum_articleMore::after {
   content: "前往文章";
 }

 .member_forum_card div {
   display: flex;
   height: 8vh;
   gap: 1vw;
   justify-content: center;
   align-items: center;
 }

 .member_forum_card div .member_forum_authorImg {
   -webkit-clip-path: circle(40%);
   clip-path: circle(40%);
   width: 3vw;
 }

 .member_forum_card div .member_forum_author,
 .member_forum_card div .member_forum_postDate {
   display: inline-block;
   color: #1f1f1f;
   margin: 0;
   font-size: 0.9vw;
 }

 .member_forum_card div .member_forum_postDate {
   display: inline-block;
   color: #777777;
   font-size: 0.8vw;
 }