* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F1F1F1;
}


a {
    text-decoration: none;
}
/* Header */
header {
    background-color: #FFC1E0;
    position: sticky;
    top: 0;
    z-index: 101;
}

#header {
    max-width: 60vw;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.header_logo img {
    width: 5vw;
    height: 5vh;
}

.header_nav_links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.header_link a {
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.header_link img {
    width: 3vw;
    height: 3vh;
    object-fit: scale-down;
}

/* Footer */
footer {
    background-color: #FFC1E0;
}

.search_section_container {
    max-width: 1200px;
    margin: auto;
    padding: 3rem 1rem;
}

.search_footer_container {
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

.search_footer_col h5 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
}

.search_footer_col p {
    max-width: 300px;
    color: black;
}

.search_footer_col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.search_footer_col a {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    transition: 0.3s;
}

.search_footer_col a:hover {
    color: blue;
}

.search_footer_socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.search_footer_socials span a {
    padding: 5px 10px;
    margin: 0;
    font-size: 1.25rem;
    color: white;
    background-color: #930000;
    border-radius: 100%;
}

.search_footer_socials span a:hover {
    color: white;
    background-color: #000093;
}

.search_footer_bar {
    padding: 1rem;
    font-size: 0.8rem;
    color: black;
    text-align: center;
}

hr {
    margin: 1rem 0;
    border: 0;
    border-top: solid;
    opacity: .25;
}





.process_bg {
    display: block;
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.process_info_bg {
    display: block;
    background-color: brown;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}


.container_bg {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10%;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #E9E4D4;

}

.container_notice {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: #E9E4D4;
    display: flex;
}


.container_lg {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #E9E4D4;
}


.container_luggage {
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto;
    background-color: #F4CFE0;


}

.container_info {
    width: 80%;
    margin: 20px auto;
    background-color: #E9E4D4;
    ;

}

.container_info>div,
input {
    height: 30px;
    border-radius: 5px;

}

.container_info>div,
select {
    height: 30px;
    border-radius: 5px;

}

.container_right {
    width: 100%;
    margin: 0 auto;
    padding: 5px 5px;
    background-color: #E9E4D4;
}


.grid_luggage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    text-align: center;
    gap: 20px;
    margin: 0 auto;
    padding: 10px;

}

.grid_luggage_icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 80px;
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;


}

.box {
    background-color: white;
    margin: 10px;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.navBar {
    background-color: #F4CFE0;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col_left {
    flex: 2;
    padding: 5% 10%;
}

.col_right {
    flex: 1;
    padding: 10px;
    position: fixed;
    bottom:25%;
    min-height: 50vh;
    right: 15%;
    width: 20%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.grid_items {
    display: grid;
    grid-template-columns: 10% 10% 30% 30% 10% 10%;
    gap: 5px;
}

.col_ticket {
    flex: 1;
    padding: 10px;
    font-size: 20px;
    margin-left: 5%;
}

.col_notice_right {
    flex: 5;

}

.col_notice_left {
    flex: 1;
    padding-left: 5%;
}

@media (max-width: 992px) {
    body {
        font-size: 14px;
    }

    .col_right {
        font-size: 14px;
    }

    .contact_info {
        flex: 1;
    }

    .grid_luggage_icon {
        font-size: 14px;
    }

}


.label_addluggage {
    display: block;
    width: 40%;
    height: 30px;
    margin-left: auto;
    font-size: 16px;
    background-color: brown;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.contact_info {
    height: 30px;
    text-align: center;
    font-size: 16px;
}


.delete_btn {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    /* Hide the delete button by default */
    margin-left: auto;
    /* Push button to the right */
    padding: 5px 10px;
}

.delete_btn:hover{
    background-color: #F4CFE0;
    color: rgb(41, 40, 40);
    border: rgb(41, 40, 40) 2px solid;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #E9E4D4;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.style_nextstep {
    width: 50%;
    height: 40px;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    background-color: #F4CFE0;
    border-radius: 5px;
    border: none;
}

.style_nextstep:hover{
    background-color: brown;
    color:white;
}

#add_passenger:hover{
    background-color: brown;
    color:white;
}
