* {
    box-sizing: border-box;
}

.body {
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */
header {
    height: 13vh;
    /* 140px */
    background-color: #F4CFE0;
}

header>div {
    height: 50%;
    width: 73.5%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}

header>div img[src*="logo"] {
    position: absolute;
    bottom: 0;
}

header>div>p {
    display: inline-block;
    font-size: 3vh;
    width: 85%;
    margin: 0;
}

header>div img[src*="icon"] {
    height: 5vh;
    margin: auto 10px;
    float: right;
    /* 48px */
}

/* Footer */
footer {
    height: 20.8vh;
    /* 225px */
    background-color: #F4CFE0;
}

footer>div {
    width: 73.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer>div>section {
    display: inline-block;
    width: 17vw;
}

footer>div>section>h3 {
    font-size: 3vh;
    margin: 1vh;
    text-align: center;
}

.footer_line {
    border: 0.2vh solid black;
    margin: 0 auto;
    width: 60%;
}

.footer_list>a {
    font-size: 2.2vh;
    font-weight: bold;
    margin: 1vh 1vh 0;
    position: relative;
    left: 20%;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.container_bg {
    width: 80%;
    margin: 0 auto;

}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #E9E4D4;
    height: 500px;
    margin-bottom: 5%;
}

.tabs {
    display: flex;
    cursor: pointer;
}

.tab {
    padding: 10px 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background: #f1f1f1;
}

.tab.active {
    background: #fff;
    border-bottom: 1px solid transparent;
}

.tab_content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    height: 20vh;
}

#order_list {
    font-family: Arial, sans-serif;
}

#order_search_form {
    margin-bottom: 20px;
}

#order_search_form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#order_search_form button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#order_search_form button:hover {
    background-color:#F4CFE0;
    color:#333
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}



tr:hover {
    background-color: #f5f5f5;
}

button {
    padding: 6px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.order_number{
    white-space: nowrap;
}